body{
	margin:100;
    padding:100;
    background-size: 400px;
}

.menu-body {
  width: 90%;
  margin: 0 auto;
  display: block;
  color: rgb(92, 92, 92);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  background: #FFFFFF;
  outline: 3px;
  border: 5px;
  border-style: solid;
  padding: 20px;
}

.menu-section {
  margin-bottom: 80px;
}

.menu-section-title {
  font-family: georgia;
  font-size: 50px;
  display: block;
  font-weight:normal;
  margin: 20px 0; 
  text-align: Center;
}

.menu-item {
  margin: 35px 0;
  font-size: 18px;
}

.menu-item-name{
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-style: italic;
  font-size: .9em;
  line-height: 1.5em;
}

.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -22px;
}

#imagery{
    width: 400px;
}

.centered{
    display:block;
    margin: 0 auto;
}

#hero-image {
  width: 100%;
}

#footer-image {
  width: 100%;
}

.contact-address {
  font-family: helvetica;
  font-size: 16px;
  line-height: 2em;
  padding: 15px;
  color: white;
}

.contact-email {
  font-family: helvetica;
  font-size: 16px;
  line-height: 3.5em;
  padding: 10px;
  display: right;
  color: white;
  position: absolute;
  right:0;
}

.contact-phone {
  font-family: helvetica;
  font-size: 16px;
  line-height: 3.5em;
  padding: 10px;
  color: white;
  position: absolute;
  right:270px;
}